@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 14px;
  gap: 6px;
}

.skill {
  width: calc(33.3333% - 37px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.SkillImage {
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
}

.SkillImage img {
  width: 75px;
}

.Skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 890px) {
  .skill {
    width: calc(50% - 20px);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 650px) {
  .skill {
    width: calc(100% - 20px);
  }
}
